/* 
 * Author: Francis Nguyen, www.fmnguyen.com
 */

@mixin breakpoint($point) {
	@media only screen and (min-width: $point) {
		@content;
	}
}

@mixin horizontal-center {
	position: absolute;
	left: 50%;
	@include transform(translate(-50%, 0));
}

@mixin vertical-center {
	position: absolute; 
	top: 50%;
	@include transform(translate(0, -50%));
}

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}

/* Clearfix */
.clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    @extend .clearfix;
  }
  &:after {
    clear: both;
  }
}

section {
	margin-top: 50px;
	margin-bottom: 50px;
}

.section-header {
	text-align: center;
	padding-bottom: 40px;
	.section-title {
		padding: 0 15px 10px 15px;
	}
	.section-summary {
		text-align: left;
		min-width: 300px;
		@include breakpoint(768px) {width: 500px; min-width: 380px;}
		@include breakpoint(1200px) {width: 600px;}
		margin: 0 auto;
	}
}

.row {
	padding-bottom: 25px;
}

#header {
	width: 100vw;
	height: 100vh;
	margin: 0;
	position: relative;
	.title {
		text-align: center;
		@include center;
		color: $green;
		letter-spacing: 2.5px;
		font-size: 2.25em;
		@include breakpoint(768px) {font-size: 5.5em;}
	}
}

#machines {
	margin-top: 0;
}

.row-method {
	text-align: center;
	.method-title {
		letter-spacing: 1.0px;
		font-size: 0.9375em;
		padding-top: 7px;
		@include transform(scale(1,1.1)); 
	}
	.method-category {
		opacity: 0.8;
		padding-bottom: 10px;
	}
	.svg-curlybrace_sm {
		padding-bottom: 10px;
		width: 70%;
		margin: 0 auto;
	}
	.svg-curlybrace_md {
		padding-bottom: 10px;
		width: 80%;
		margin: 0 auto;
	}
	.svg-two {
		.method-card {
			float: left;
			width: 48%;
			&:first-of-type {margin-right: 1%;}
			&:last-child {margin-left: 1%;}
		}
	}
	.svg-three {
		.method-card {
			float: left;
			width: 32%;
			&:nth-child(1) {margin: 0 1%;}
			&:first-of-type {margin-right: 1%;}
			&:last-child {margin-left: 1%;}
		}
	}
}

.row-quality {
	.svg-quality {
		div {
			width: 80%;
		}
	}
	.left {
		float: left;
		padding-left: 25px;
	}
	.right {
		float: right;
		padding-right: 25px;
	}
	.quality-card {
		.quality-desc {
			max-width: 250px;
		}
	}
}

#coffee-2015 {

}

.row-number {
	.number-card {
		text-align: left;
		width: 21%;
		margin: 0 2%;
		div {font-family: 'Grouch', serif;}
		.number-wrapper {
			position: relative;
			.number {
				font-size: 3.0em;
				@include breakpoint(768px) {font-size: 2.0em;}
				@include breakpoint(1200px) {font-size: 3.0em;}
				color: $lightorange;
				float: left;
				line-height: 1em;
			}
			.number-text {
				font-size: 1.35em;
				@include breakpoint(768px) {font-size: 1.0em;}
				@include breakpoint(1200px) {font-size: 1.35em;}
				line-height: 1.05em;
				text-transform: lowercase;
				letter-spacing: 2px;
				color: $lightorange;
				margin-left: 10px;
				display: inline-block;
				position: absolute;
				bottom: 0;
			}
		}
		.number-desc {
			font-size: 1.25em;
			@include breakpoint(768px) {font-size: 1.0em;}
			@include breakpoint(1200px) {font-size: 1.25em;}
			letter-spacing: 0.5px;
			color: $green;
			margin-top: 5px;
		}
		.number-summary {
			margin-top: 10px;
		}
	}
}









