@font-face {
  font-family: 'Gill-Sans-MT';
  src: url('../fonts/Gill-Sans-MT.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gill-Sans-MT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Gill-Sans-MT.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Gill-Sans-MT.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Gill-Sans-MT.svg#954f9f39591f03addb6e99cb7445c9af') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Grouch';
  src: url('../fonts/Grouch-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Grouch-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Grouch-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Grouch-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Grouch-Regular.svg#3a89bb2303b355fde93170665c23f8a6') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@mixin breakpoint($point) {
	@media only screen and (min-width: $point) {
		@content;
	}
}

html {
	font-size: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, li, div, span {
	font-family: 'Gill-Sans-MT', Helvetica, Verdana, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #9C7452;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

i {
	font-style: italic;
}

h1 {
	font-size: 2.00em;
	font-family: 'Grouch', serif;
	color: $darkorange;
}

h2 {
	font-size: 1.125em;
	font-family: 'Grouch', serif;
	color: $green;
}

p {
	font-size: 1.125em;
	line-height: 1.25em;
	letter-spacing: 0.5px;
	color: $brown;
}

strong {
	font-weight: 700;
}

h3, h4, h5, h6 {
	font-weight: 400; 
}

span {
	font-weight: 700;
}